body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #448cb9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.mainContainer {
    display: flex;
}

.row {
    display: flex;
}

.block {
    border-style:solid ;
    border-color: black;
    background-color: azure;
    min-width: 40px;
    min-height: 40px;
}